@charset "UTF-8"; /* CSS Document */
body {
  background-color: #ececec;
  background: url(/images/assets/00.jpg) repeat;
  background-attachment: fixed;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #444444;
  letter-spacing: normal;
  text-shadow: 0px 1px 0px #ececec;
}
div#line {
  background: url(/images/assets/stripe.png) top left repeat-x;
  height: 5px;
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 10px 0;
}
div#container {
  width: 978px;
  padding: 0 5px 20px 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
div#header {
  margin: 15px 0 20px 0;
  height: 69px;
  border-bottom: 2px solid #555555;
  width: 978px;
}
div#logo {
  margin: 0 0 0 4px;
}
#menu {
  margin: 43px 0 0 0;
  z-index: 2;
  float: right;
}
ul#nav_menu {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
ul#nav_menu li,
ul#nav_menu li a {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  font-size: 14px !important;
}
ul#nav_menu li.spacer {
  color: #49b749;
  margin: 0 15px 0 15px;
}
ul#nav_menu li a:hover {
  color: #333333;
  border-bottom: 2px solid #49b749;
}
ul#nav_menu li#selected a {
  color: #333333;
  border-bottom: 2px solid #49b749;
}
div#feature {
  margin: 8px auto 16px auto;
  background: url(/images/assets/feature-lg-2.png) no-repeat;
  width: 978px;
  height: 491px;
}
p {
  margin: 0 0 18px 0;
}
span.highlight {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  color: #333333;
  display: block;
  padding: 0 0 8px 0;
}
h1 {
  margin: 0 0 2px 0;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  font-style: normal;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
h2 {
  margin: 125px 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #464646;
  font-style: normal;
}
h3 {
  margin: 5px 0 0 15px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #707070;
}
h4 {
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #707070;
}
h5 {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #464646;
}
h5:hover {
  border: none;
}
div.main_copy {
  margin: 17px 0 10px 6px;
  line-height: 22px;
  width: 966px;
  overflow: auto;
}
div.white-wrap_top {
  background: url(/images/assets/white-wrap_top-2.png) no-repeat;
  padding: 0 6px 0 6px;
  height: 15px;
  width: 966px;
  overflow: hidden;
}
div.white-wrap_tile {
  background: url(/images/assets/white-wrap_tile-2.png) repeat-y;
  padding: 0 6px 0 6px;
  xmargin: 17px 0 10px 6px;
  line-height: 22px;
  width: 966px;
  overflow: hidden;
  z-index: 1;
}
div.white-wrap_bottom {
  background: url(/images/assets/white-wrap_bottom.png) no-repeat;
  padding: 0 6px 18px 6px;
  height: 17px;
  width: 966px;
  overflow: hidden;
}
div#bump {
  margin: 20px 0 0 0;
}
div.left {
  padding: 10px 0 10px 0;
  width: 292px;
  float: left;
}
div.center {
  width: 292px;
  float: left;
  margin: 0 0 0 21px;
  padding: 10px 22px 10px 22px;
  border-left: 2px solid #777777;
  border-right: 2px solid #777777;
}
div.right {
  padding: 10px 0 10px 0;
  width: 292px;
  float: right;
  overflow: visible;
}
div.two_thirds {
  width: 631px;
  float: left;
  margin: 0 0 0 0;
  padding: 0 22px 10px 0;
}
div.columns {
  padding: 20px 0 10px 0;
  overflow: auto;
}
div.stretch {
  margin: 30px 0 0 0;
  height: 180px;
}
span.skills {
  color: #5e5e5e;
  font-size: 13px;
}
span.green {
  color: #49b749;
}
span.strike {
  text-decoration: line-through;
  text-shadow: none !important;
}
p.link {
  margin: 10px 0 0 4px;
  color: #49b749;
}
p.back_link {
  width: 212px;
  height: 30px;
  background: url(/images/assets/button_large.png) no-repeat;
  margin: 0 0 0 15px;
  padding: 4px 0 0 0;
  text-align: center;
}
p.button {
  width: 75px;
  height: 30px;
  background: url(/images/assets/button.png) no-repeat;
  margin: 0 0 0 0;
  padding: 4px 0 0 0;
  text-align: center;
}
p.right {
  float: right;
}
p.left {
  float: left;
}
a.back_link {
  color: #333333;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
}
a.back_link:hover {
  color: #111111;
}
a.link {
  color: #464646;
  font-weight: bold;
  text-decoration: none;
}
a.link:hover {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #49b749;
  padding: 0 0 2px 0;
}
p.testimonial_clip {
  font-size: 13px;
  color: #464646;
}
div#tag {
  margin: 8px 0 8px 0;
  background: url(/images/assets/tag.png) no-repeat;
  width: 292px;
  height: 156px;
  display: block;
}
div#footer {
  margin: 0 0 0 0;
}
div.sega {
  margin: 20px 0 0 6px;
  border-bottom: 2px solid #555555;
  width: 966px;
}
div#footer_text {
  margin: 12px 0 0 0;
  float: left;
  font-size: 13px;
  color: #707070;
}
div#social {
  float: right;
  margin: 0 0 0 0;
}
div.testimonial {
  clear: both;
  overflow: hidden;
  margin: 0 0 50px 0;
}
ul.services {
}
ul.services li {
  color: #707070;
  font-size: 13px;
  line-height: 17px;
}
div.little_stretch {
  height: 100px;
}
div.rave_head {
  padding: 0 0 15px 32px;
  margin: 55px 0 0 0;
  display: block;
  width: 600px;
  float: right;
}
span.signature {
  color: #464646;
  font-weight: bold !important;
  font-size: 13px;
  display: block;
  padding: 8px 0 0 0;
}
div.frame {
  background: url(/images/assets/frame-2.png) no-repeat;
  margin: -3px 0 22px -3px;
  float: left;
  display: block;
  width: 316px;
  height: 214px;
}
div.service_frame {
  background: url(/images/assets/frame.png) no-repeat;
  margin: 0 0 0 0;
  float: left;
  display: block;
  width: 316px;
  height: 214px;
}
div.small_frame {
  background: url(/images/assets/small_frame.png) no-repeat;
  height: 190px;
  margin: 0 0 0 0;
  float: left;
  display: block;
  width: 280px;
}
div.gallery_frame {
  background: url(/images/assets/gallery_frame.png) no-repeat;
  margin: 0 0 20px 0;
  float: left;
  display: block;
  width: 316px;
  height: 214px;
}
div.profile {
  margin: 0 0 50px 0;
  overflow: hidden;
}
div.service {
  width: 316px;
  margin: 0 0 0 0;
  padding: 0 9px 40px 0;
  overflow: hidden;
  float: left;
  display: block;
}
img.portrait {
  padding: 3px 0 0 5px;
}
img.rave {
  padding: 2px 0 0 4px;
}
div.service_copy {
  width: 306px;
  height: 140px;
  margin: 12px 6px 0 6px;
  float: left;
  line-height: 22px;
  font-size: 14px;
}
div#contact_column {
  width: 257px;
  float: right;
  margin: -8px 0 40px 0;
  line-height: 22px;
}
div#contact_column a {
  display: block;
  margin: 0 0 14px 0;
}
div.summary_column {
  width: 257px;
  height: 535px;
  float: right;
  margin: 37px 0 0 0;
  padding: 0 0 0 0;
  line-height: 22px;
  display: block;
}
div.summary_column_bottom {
  width: 257px;
  height: 65px;
  float: right;
  margin: -72px 0 0 0;
  line-height: 22px;
  display: block;
}
div.contact_column_thin {
  width: 257px;
  float: right;
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  line-height: 22px;
}
div.contact_copy {
  margin: 0 0 30px 15px;
}
a.contact_link {
  color: #5e5e5e;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px dotted #cfcfcf;
}
a.contact_link:hover {
  color: #333;
  border-bottom: 2px solid #49b749;
}
a.contact_link:active {
  border-bottom: 2px solid #fff;
}
img.small_logo {
  margin: 0 0 10px 0;
}
div#form {
  margin: 0 0 0 0;
  width: 587px;
}
div.cd_frame {
  background: url(/images/assets/cd_frame-nb2.png) no-repeat;
  margin: 8px 0 0 0;
  width: 703px;
  height: 635px;
}
ul.image-grid {
  list-style-type: none;
  list-style: none;
  height: 1780px;
  padding: 0 0 10px 0;
}
ul.image-grid li {
  background: url(/images/assets/frame.png) no-repeat;
  width: 316px;
  height: 214px;
  float: left;
  margin: 0 3px 9px 6px;
}
div#work {
  margin: 0 0 0 0;
}
ul#work_filter {
  list-style-type: none;
  display: inline;
  margin: 16px 0 0 0;
}
ul#work_filter li,
ul#work_filter li a {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 0;
  padding: 4px 0 0 0;
  float: left;
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  width: 75px;
  height: 30px;
  text-align: center;
}
ul#work_filter li a:hover {
  color: #111111;
}
ul#work_filter li.selected-1,
ul#work_filter li.selected-0,
ul#work_filter li.selected-2 {
  background: url(/images/assets/button.png) no-repeat;
}
div.sub_menu {
  margin: -8px 0 0 6px;
  height: 45px;
}
.wufoo .info {
  display: none;
}
div.info {
  display: none;
}
div#twitter_feed {
  margin: 0 0 0 0;
}
div.clear {
  clear: both;
  height: 1px;
  width: 766px;
}
img.cd_feature {
  margin: 32px 0 0 32px;
}
iframe.mm {
  width: 100%;
  height: 780px;
  margin: 0 0 0 0;
  border: none;
}
div#clearfix {
  with: 966px;
  height: 50px;
}
div#push {
  height: 48px;
  display: block;
}
a.body_link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
a.big_link {
  line-height: 28px;
  font-size: 20px;
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
a.big_link:hover {
  color: #333;
}
a.body_link:hover {
  color: #333;
}
a.body_link:visited {
  color: #666;
  text-decoration: none;
}
div.spacejam {
  xborder-bottom: 1px dashed #999999;
  padding: 10px 0 30px 0;
  margin: 0 0 20px 0;
}
div.big_deal {
  padding: 0 0 12px 5px;
  font-size: 16px;
}
div#share {
  margin: 15px 0 0 0;
}
div.social {
  height: 26px;
  margin: -4px 0 0 0;
}
img.error {
  padding: 0 0 10px 0;
}
.bigpicture img {
  margin: 0 0 12px 3px;
  border: 1px solid #f5f5f5;
  padding: 2px;
}
ol#posts img {
  margin: 0 auto 12px auto;
  border: 1px solid #f5f5f5;
  padding: 2px;
  display: block;
}
div.green-button {
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  background: url(/images/assets/green-button.png) no-repeat;
  width: 97px;
  height: 30px;
  text-align: center !important;
  float: left;
}
div.green-button:active,
div.green-button.active {
  background-position: 0 -30px;
}
div.learn-more {
  padding: 0 0 0 0;
  background: url(/images/assets/learn-more.jpg) no-repeat;
  width: 125px;
  height: 30px;
  text-align: center;
  float: left;
  text-shadow: none;
}
div.learn-more:hover,
div.learn-more.hover {
  background-position: 0 -30px;
}
a.learn-more {
  padding: 2px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none;
  text-transform: lowercase;
  display: block;
  text-align: center;
}
a.learn-more:hover {
  color: #ffffff;
}
a.learn-more:visited {
  color: #ffffff;
  text-decoration: none;
}
div#cd_frame_lg {
  background: url(/images/assets/cd_frame_lg.png) no-repeat;
  width: 978px;
  height: 882px;
  float: left;
}
div#feature_frame_lg {
  margin: 0 0 0 0;
  position: relative;
}
div.study_copy {
  padding: 32px 0 32px 0;
  width: 424px;
  float: right;
}
div.about_copy {
  width: 539px;
  margin: 37px 0 22px 0;
  float: right;
  line-height: 22px;
}
div.testimonial_copy {
  width: 539px;
  margin: 37px 0 22px 0;
  float: right;
  line-height: 22px;
}
div.testimonial_copy p {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}
div.testimonial_copy span,
div.testimonial_copy span.skills {
  font-family: rooney-web, sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
}
div.web_study {
  width: 884px;
  margin: 29px auto 32px auto;
}
img.back-to-top {
  margin: 8px 0 0 890px;
  position: absolute;
}
div.half {
  float: left;
  padding: 12px 10px 8px 0;
  width: 200px;
}
div.study_copy h1 {
  margin: 0 0 2px 0;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  font-style: normal;
  line-height: 26px;
}
div.third {
  width: 274px;
  float: left;
  display: block;
  padding: 0 31px 28px 0;
}
div.third img.icon {
  float: left;
  padding: 12px 18px 60px 0;
}
div#wallpaper-thumbs {
  margin: -313px 0 0 685px;
  position: absolute;
  width: 265px;
}
img.smashing {
  position: absolute;
  z-index: 100;
  margin: -10px 0 0 -12px;
}
div.third p {
  height: 70px;
}
div.small-frame {
  background: url(/images/assets/small-frame.png);
  width: 282px;
  height: 191px;
  margin: 0 0 0 -2px;
}
span.line {
  width: 884px;
  display: block;
  xborder-bottom: 1px dotted #ccc;
  margin: 8px 0 2px 0;
}
img.quote {
  margin: 20px 0 0 300px;
  position: absolute;
  float: left;
  z-index: -1;
}
img.texture {
  position: absolute;
  z-index: -10;
  padding: 2px 0 0 6px;
}
img.confirmation-texture {
  position: absolute;
  z-index: -10;
  margin: 0 0 0 4px;
  border: 2px solid #f4f4f4;
}
div#confirmation-screen {
  background: url(/images/assets/confirmation-screen.png) no-repeat;
  width: 523px;
  height: 227px;
  margin: 40px 0 270px 32px;
  padding: 29px 32px 0 32px;
  line-height: 22px;
}
img.phone-icon {
  float: left;
}
span.message {
  font-family: rooney-web, sans-serif;
  font-style: italic;
  font-weight: 300;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}
.bio-texture {
  margin: -260px 0 0 6px;
  position: absolute;
  width: 966px;
  height: 230px;
  dispaly: block;
  z-index: -10;
}
div.date {
  font-size: 13px;
  color: #666;
  font-weight: bold;
  float: left;
  padding: 38px 0 0 0;
}
div.date a {
  text-decoration: none;
  color: #666;
}
div.date a:hover {
  text-decoration: none;
  color: #49b749;
}
div.blog_body {
  width: 650px;
  display: block;
  float: right;
  border-left: 1px solid #cecece;
  padding: 0 0 48px 20px;
  margin: 0 0 29px 0;
}
div.blog_body p {
  font-size: 13px;
  color: #666;
  line-height: 22px;
  margin: 0 0 12px 0;
}
div.blog_body h1 {
  font-size: 24px;
  color: #333;
  line-height: 18px;
  margin: 0 0 12px 0;
  padding: 8px 0 0 0;
}
div.blog_body a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
div.blog_body a:hover {
  text-decoration: none;
  color: #49b749;
}
ol#posts li {
  margin: 0 0 24px 0;
}
div.blog-social {
  margin: 4px 0 0 0;
}
.lazy {
  display: none;
}
ol#posts img.left {
  margin-left: 3px;
  float: left !important;
}
ol#posts img.right {
  margin-right: 3px;
  float: right !important;
}
ol#posts img.png-block {
  position: absolute;
  border: none !important;
  margin: 1px 5px 0 5px !important;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
#fblike {
  display: none !important;
}
html,
body {
  scroll-behavior: smooth;
}
