$width: 78%;
$padding: (100%-$width)/2;

body.start {

.structure {
  width: $width;
  padding: 1rem $padding;
}

header.what {
  @extend .structure;
  text-align: center;
  font-size: 1.4rem;
  line-height: 160%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100%;
  @include background-image-retina('grey.png');
  div {
    width: 70%;
    margin: 0 auto;
    font-family: "proxima-nova";
    // font-weight: 400;
    color: lighten($gray, 20%);
    img {
      display: block;
      margin: 0 auto 36px auto;
      // width: 120px;
    }
  }
}

article.presentation {
  div.statement {
    @extend .structure;
    font-family: $alternate;
    @include rgba-background(rgba(gray, 0.1));
    @include background-image-retina('cream_dust.png');
  }

  blockquote {
    @extend .structure;
    font-family: $alternate;
    margin: 0;
    text-shadow: none;
    font-weight: 300;
    background-color: $green;
    color: white;
    font-size: 240%;
    line-height: 160%;
    @include background-image-retina('noise-texture-1.png');
    // @include box-shadow(rgba(black, 0.1) 0 0 200px inset);
    p, ul {
      padding: 2rem 0;
      border-top: 1px solid lighten($gray, 70%);
    }
    &.dark {
      @include background-image-retina('noise-texture-1.png');
    }
  }
  cite {
    font-style: italic;
  }
}
}
