
RewriteEngine on

RewriteCond %{HTTP_HOST} ^shedbot.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.shedbot.com$
RewriteRule ^beta$ "http\:\/\/shedbot\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^shedbot.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.shedbot.com$
RewriteRule ^beta\/?(.*)$ "http\:\/\/shedbot\.com\/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^shedbot.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.shedbot.com$
RewriteRule ^index\.html$ "http\:\/\/www\.shedbot\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^shedbot.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.shedbot.com$
RewriteRule ^client\/fcramod$ "http\:\/\/shedbot\.com\/client\/fcramrod" [R=301,L]

RewriteCond %{HTTP_HOST} ^shedbot\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shedbot\.com$
RewriteRule ^wallpapers\/?(.*)$ "http\:\/\/shedbot\.com\/wallpaper$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^shedbot\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shedbot\.com$
RewriteRule ^tebowpg\/?$ "http\:\/\/blog\.shedbot\.com\/" [R=302,L]

